<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>집 찾기</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}" />
</head>

<body>
    <article id="3af545b5-07b8-4850-af19-b4184d9fa133" class="page sans">
        <header>
            <h1 class="page-title">사진 업로드하기</h1>
        </header>
        <div class="page-body">
            <p id="ff2fae6b-2348-412e-a232-2ff97a0fc69a" class="">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_done') }}">
                    <input type="file" name="file">
                    <input type="submit">
                </form>
            </p>
        </div>
    </article>
</body>

</html>