<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>집 찾기?</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}" />
</head>

<body>
    <article id="3af545b5-07b8-4850-af19-b4184d9fa133" class="page sans">
        <header>
            <h1 class="page-title">집 찾기?</h1>
        </header>
        <div class="page-body">
            <p id="ff2fae6b-2348-412e-a232-2ff97a0fc69a" class=""><a href="/apply">집 등록하기</a></p>
            <p id="b8d71c48-1f76-43c8-a746-4f30ae590ddb" class=""><a href="/list">등록한 집 목록보기</a></p>
        </div>
    </article>
</body>

</html>