<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>집 찾기?</title>
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}" />
</head>

<body>
    <article id="3af545b5-07b8-4850-af19-b4184d9fa133" class="page sans">
        <header>
            <h1 class="page-title">등록한 집 세부내용</h1>
        </header>
        <div class="page-body">
            <p id="ff2fae6b-2348-412e-a232-2ff97a0fc69a" class="">
                집 위치 - {{ location }}
            </p>
            <p id="ff2fae6b-2348-412e-a232-2ff97a0fc69a" class="">
                청결도 - {% if cleaness == True %}매우 청결 {% else %}청소 필요 {% endif %}
            </p>
            <p id="ff2fae6b-2348-412e-a232-2ff97a0fc69a" class="">
                빌트인 항목 - {{ built_in }}
            </p>
        </div>
    </article>
</body>

</html>